{{#unless article.banner}}
  <div class="panel">

    <img class="average" src={{article.image}}>
    <p><em>{{article.author}}</em></p>
    <p><strong>{{article.title}}</strong></p>
    <p>{{article.content}}</p>
  </div>
{{/unless}}
